title: "Whimsy Space - ZineOS v0.420.950a ⌊ALPHA⌉"
version: "0.420.950a"
description: """
  I have long been alarmed by people’s sheeplike acceptance of the term ‘computer technology’ — it sounds so objective and inexorable — when most computer technology is really a bunch of ideas turned into conventions and packages.
  
  - Ted Nelson
"""
publish:
  s3:
    basePath: "public"
dependencies:
  ajax: "distri/ajax:master"
  analytics: "distri/google-analytics:master"
  bindable: "distri/bindable:master"
  model: "distri/model:master"
  postmaster: "distri/postmaster:v0.6.0"
  ui: "STRd6/ui:master"
  "!system": "STRd6/system-client:master"
remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/dexie/2.0.0-beta.7/dexie.min.js"
  "https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"
  "https://danielx.whimsy.space/cdn/cognito/sdk.min.js"
  "https://danielx.whimsy.space/cdn/cognito/identity.min.js"
  "https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"
  "https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"
]
