comments, comment
  display: block
  padding: 1em

comment
  border: 1px solid black
  margin-bottom: 1em

  &:last-child
    margin-bottom: 0

  > .author
    color: gray
    font-size: 0.75em
    text-align: right

    &::before
      content: "-"

explorer
  display: block
  padding: 0.5em

  body > &
    height: 100%
    width: 100%

  > file
    display: inline-block
    padding: 0.5em

    > icon
      background-color: green
      display: block
      height: 32px
      margin: auto
      width: 32px
